<!DOCTYPE html>
<html>
<head>
    <title>Django Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <form method="get" action="{% url 'search-results' %}">
        <input type="text" name="q" placeholder="Search posts..." required>
        <button type="submit">Search</button>
    </form>
</head>
<body>
    <h1>Django Blog</h1>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
